---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Dead Tech Guy";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));---
<BaseLayout pageTitle={pageTitle}>      
  <p>This is where I will post about my journey learning Astro.</p>

  
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}    </ul> <h2>My awesome blog subtitle</h2>
  
</BaseLayout>

<style define:vars="{{skillColor}}">
  h1 {
      color: purple;
      font-size: 4rem
  }
  .skill{
      color: var(--skillColor);
      font-weight: bold;
  }
</style>

 

